{% extends 'base.html' %}

{% block title %}
  Add A New Cafe
{% endblock %}

{% block content %}
  <div class="bg-white mx-auto p-6 place-items-center">
    <div class="bg-white p-8 rounded-lg shadow-2xl border border-slate-200 mt-1 place-items-center max-w-fit">
      <h1 class="text-3xl font-semibold text-center text-gray-800 mb-6">Add a New Cafe</h1>
      <p class="text-center mb-4">
        <a href="{{ url_for('cafes') }}" class="text-yellow-900 hover:underline">See all cafes</a>
      </p>
      <!-- Formulario para agregar un nuevo café -->
      <form action="{{ url_for('add_cafe') }}" method="POST" class="space-y-4">
        {{ form.hidden_tag() }}
        <!-- Nombre del Café -->
        {% for data in form %}
          {% if data != form.csrf_token %}
            {% if data == form.submit %}
              <div class="flex justify-center mt-20">{{ data(class='px-6 py-2 bg-yellow-900 cursor-pointer text-white font-semibold rounded-lg hover:bg-yellow-800 focus:outline-none focus:ring-2 focus:ring-yellow-900') }}</div>
            {% else %}
              <div class="flex flex-col text-sm font-medium text-gray-700">
                {{ data.label }}
                {{ data(class='width mt-2 px-4 py-2 border border-slate-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-900') }}
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
        <!-- Botón de envío -->
      </form>
    </div>
  </div>
{% endblock %}
