<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='./static/styles.css'/>
    <title>CV</title>
</head>
<body>
    <h1>Edwin Vega</h1>
    <img src='./static/no-bg.png' style='width: 200px;'>
    <hr/>
    <button onclick="window.location.href='http://127.0.0.1:5000/'" style='background-color: blue; padding: 5px; color:white; border-radius: 5px; cursor: pointer;'>Home</button>
    <button onclick="window.location.href='http://127.0.0.1:5000/blog'" style='background-color: blue; padding: 5px; color:white; border-radius: 5px; cursor: pointer;'>Blog</button>
</body>
</html>