<!-- Footer -->
<footer class="mx-auto max-w-full px-4 md:px-8 bg-gray-900 text-gray-400 py-10 mt-auto flex-shrink-0">
  <div class="mb-16 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6 lg:gap-8 pt-10 lg:pt-12">
    <!-- Branding -->
    <div class="col-span-full lg:col-span-2">
      <div class="mb-4 lg:-mt-2">
        <a href="/" class="inline-flex items-center gap-2 text-xl font-bold text-gray-100 md:text-2xl" aria-label="Home">
          Flowrift
        </a>
      </div>
      <p class="mb-6 text-gray-400 sm:pr-8">
        Flowrift es un sitio dedicado a ofrecer soluciones y herramientas para diseñadores y desarrolladores web.
      </p>
    </div>

    <!-- Productos -->
    <div>
      <div class="mb-4 font-bold uppercase tracking-widest text-gray-100">Productos</div>
      <nav class="flex flex-col gap-4">
        <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500">Resumen</a>
        <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500">Soluciones</a>
        <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500">Precios</a>
        <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500">Clientes</a>
      </nav>
    </div>

    <!-- Empresa -->
    <div>
      <div class="mb-4 font-bold uppercase tracking-widest text-gray-100">Empresa</div>
      <nav class="flex flex-col gap-4">
        <a href="#" class="transition duration-100 hover:text-indigo-500">Sobre Nosotros</a>
        <a href="#" class="transition duration-100 hover:text-indigo-500">Relaciones con Inversores</a>
        <a href="#" class="transition duration-100 hover:text-indigo-500">Empleos</a>
        <a href="#" class="transition duration-100 hover:text-indigo-500">Blog</a>
      </nav>
    </div>

    <!-- Soporte -->
    <div>
      <div class="mb-4 font-bold uppercase tracking-widest text-gray-100">Soporte</div>
      <nav class="flex flex-col gap-4">
        <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500">Contacto</a>
        <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500">Documentación</a>
        <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500">Chat</a>
        <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500">FAQ</a>
      </nav>
    </div>
  </div>

  <!-- Copyright -->
  <div class="border-t border-gray-800 py-8 text-center text-sm text-gray-400">
    © 2024 Flowrift. Todos los derechos reservados.
  </div>
</footer>
